/*home section*/
.home{
    background-attachment: fixed;
     background-image: url(img/big.jpg);
     height: 100vh;
     width: 100vw;
     background-position: cover; /*css3*/
     position: relative;
 }
 .home-content{
     text-transform: capitalize;
     position: absolute;
     top: 50%;
     left: 50%;
     width: 65%;
     transform: translate(-50%,-50%);
     text-align: center;
     color:black;
     font-size: 1.2rem;
 }
 .home-content .para{
     margin: 15px 0;
     letter-spacing: 1px;
     line-height: 1.5;
 }
 .home .title{
     text-transform:uppercase ;
     
     font-size: 2.5rem;
 }
 .btn{
     min-width: 150px;
     height: 50px;
     color: black;
     background-color: aliceblue;
     border-radius: 5px;
     border: 0;
     padding: 10px;
     cursor: pointer;
     font-size: 1rem;
 }
 .btn-start{
     margin-right: 10px;
 }
 .btn-learn{
     background-color: rgb(202, 202, 45);
     color: aliceblue;
 }